.sales_search {
  width: 40%;
  margin: 0;
  box-shadow: 0 2px 15px rgb(0 0 0 / 25%) !important;
}

.sales_left {
  width: 65%;
}

.sales_right {
  width: 25%;
}

.sales_header {
  text-align: none;
}

.sales_header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade-in-top 1.5s;
}

.sales_filter {
  min-width: 20%;
}

.tab-bills{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tab-bills li {
  user-select: none;
  cursor: pointer;
  padding: 10px 20px;
}
.tab-bills li.active {
  background-color: #fd501b;
  color: white;
  border-radius: 25% 24% 37% 48% / 49% 48% 12% 12%;
}
.tab-bills li:hover {
  background-color: #ff861a;
  color: white;
  border-radius: 51% 45% 13% 12% / 77% 87% 10% 17% ;
}

.sales-card {
  min-height: 280px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.sales-card:hover .sales-card-img {
  opacity: 0.8;
}
.sales-card:hover .sales-card-desc {
  opacity: 0.7;
}
.sales-card:hover .sales-card-buy {
  opacity: 1;
}
.sales-card-img {
  vertical-align: bottom;
  height: 190px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.sales-card-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sales-card-desc {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sales-card-prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-card-prices > p {
  font-size: 15px;
}
.sales-card-name > p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  text-align: center;
}
.sales-card-prices > p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
.sales-card-cost-price {
  text-decoration: line-through;
  color: rgb(49, 42, 42);
}
.sales-card-sale-price {
  color: #c3092b;
  font-weight: 700;
}
.sales-card-buy {
  z-index: 2;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sales-card-buy-btn {
  user-select: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
}

.sales_header-bottom {
  position: relative;
  margin: 15px 0;
  width: 100%;
}
.sales_customers {
  top: 40%;
  right: 0;
  max-height: 220px;
}

.sales_customer-info {
  padding: 15px 0 2px;
}
.sales_customer-info-item {
  padding: 5px 0;
}

.sales_order {
  margin: 0;
  width: 100%;
}
.sales_order-header {
  margin-bottom: 10px;
}
.sales_order-body {
  width: 100%;
  position: unset;
  box-shadow: none;
  max-height: 330px;
}
.sales_order-item {
  display: flex;
  align-items: center;

  padding-bottom: 15px;
}
.sales_order-img {
  width: 20%;
}
.sales_order-img > img {
  height: 60px;
  object-fit: cover;
}
.sales_order-midle {
  margin-left: 15px;
  display: flex;
  flex-direction: column;

  width: 80%;
}
.sales_order-right {
  width: 17%;
}
.sales_order-name {
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
}
.sales_order-name > p {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sales_order-desc {
  display: flex;
}
.group-count {
  display: flex;
  margin-right: 15px;
}
.group-count-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  border: 1px solid rgb(236, 236, 236);
}
.group-count-item > input {
  width: 100%;
  text-align: center;
}
.group-count-item:first-child {
  border-right: none;
}
.group-count-item:last-child {
  border-left: 0;
}

.sales_prices {
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.sales_prices-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.sales_prices-item:last-child {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.sales_prices-item > p {
  color: gray;
  font-weight: bold;
}
.sales_refund-payment {
  display: flex;
  margin-bottom: 10px;
}
.sales_refund-payment span {
  flex: 1;
}
.sales-score-used {
  padding: 5px;
  text-align: center;
  width: 50px;
  border: 1px solid #ccc;
}
.sales-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sales-checkout > button {
  background: rgb(255, 66, 78);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  margin: 0 10px;
  font-size: 18px;
}

.sales-list-products{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 8px;
}



