@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Dancing+Script:wght@700&display=swap");

:root {
  --main-bg: #ffffff;
  --second-bg: #fafafb;
  --txt-color: #455560;
  --txt-white: #fff;
  --main-color: #005059;
  --main-bg: #bfd6d2;
  --second-color: #9db7be;
  --second-bg: #f5f5ef;
  --add-color: #7c989f;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  --main-bg-light: #ffffff;
  --second-bg-light: #fafafb;
  --txt-color-light: #455560;
  --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  --main-bg-dark: #2d2d2d;
  --second-bg-dark: #202020;
  --txt-color-dark: #bbbbbb;
  --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

  --main-color-blue: #349eff;
  --second-color-blue: #62b4ff;

  --main-color-red: #fb0b12;
  --second-color-red: #ff4a6b;

  --main-color-cyan: #10d4d2;
  --second-color-cyan: #2ae9e6;

  --main-color-green: #019707;
  --second-color-green: #4caf50;

  --main-color-orange: #d68102;
  --second-color-orange: #fca11a;

  --sidebar-width: 245px;
  --border-radius: 15px;
  --topnav-height: 70px;
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s all linear infinite;
  -webkit-tap-highlight-color: transparent;
  /* overflow: hidden; */
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.7px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: var(--main-color);
}

.mg-0 {
  margin: 0 !important;
}

.ani_fade-in-top {
  animation: fade-in-top 1.5s !important;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  color: var(--txt-color);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 0.8rem 2.8rem;
  font-size: 1.7rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  z-index: 0;
}

.btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}

input {
  border: 2px solid transparent;
  outline: 0;
  font-family: "Roboto", sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

.page-header {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.card {
  padding: 20px;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.full-height {
  height: 100%;
}
.card.full-height {
  height: calc(100% - 30px);
}

.card__header {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.card__footer {
  text-align: center;
  text-transform: capitalize;
}

.light-background {
  background-color: var(--main-bg-light);
  color: #000;
}

.dark-background {
  background-color: var(--main-bg-dark);
  color: #fff;
}

.blue-color {
  background-color: var(--main-color-blue);
  color: #fff;
}

.red-color {
  background-color: var(--main-color-red);
  color: #fff;
}

.cyan-color {
  background-color: var(--main-color-cyan);
  color: #fff;
}

.green-color {
  background-color: var(--main-color-green);
  color: #fff;
}

.orange-color {
  background-color: var(--main-color-orange);
  color: #fff;
}
img {
  max-width: 100%;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
table {
  overflow-y: auto;
  width: 100%;

  border-spacing: 0;
}

/* search */
.search_name {
  height: 46px;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #097c99;
  background-image: linear-gradient(200deg, #005059, #bfd6d2);
}

.search_name-wrapper {
  width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.search_name-input {
  flex: 1;
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
}

.search_name-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 23px;
  width: 59px;
  color: #fafafb;
  margin-right: 2px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(150deg, #005059, #bfd6d2);
}

/* card select */
.card {
  display: block;
  width: 224px;
  font-size: 17px;
  padding: 20px 15px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 25%);
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 25px;
  animation: fade-in-left 1.5s;
}

.card:hover {
  box-shadow: 0 3px 15px rgba(173, 178, 179, 0.35);
}

.card_select-label {
  display: block;
  font-weight: bold;
  padding: 10px 10px 15px;
  text-align: left;
}

.card_select {
  font-size: 17px;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #005059;
  width: 90%;
  display: inline-block;
  outline: 0;
  cursor: pointer;
}

.card_select option {
  border: 2px solid #005059;
}
.card_select:focus option {
  border: 2px solid #005059;
}
.card_select:focus {
  border: 2px solid #005059;
}
select option {
  margin: 20px;
}

/* card value */
.card_value {
  border: 1px solid #a19b9b;
  border-radius: 8px;
  text-align: left;
  display: block;
  font-size: 17px;
  padding: 15px 10px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 25%);
  background-color: #fff;
  margin-bottom: 25px;
}
.card_value {
  margin-bottom: 20px;
  animation: fade-in-left 1.5s;
}
.card_value:nth-child(2) {
  animation: fade-in-right 1.5s;
}
.card_value:hover {
  box-shadow: 0 3px 15px rgb(0 102 110 / 35%);
}
.card_value-label {
  font-weight: bold;
  display: block;
  padding: 4px 6px;
}
.card_value-item {
  padding: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.card_value-item > .card_value-input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
.card_value-item > span,
.timer-choice {
  width: 25%;
}

/* main list */
.main {
  background-color: #fafafb;
  height: 100vh;
}

.main_list {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-left: -10px;
  padding: 5px 10px 30px 20px;
}

.list_left {
  text-align: center;
}

.list_right {
  animation: fade-in-top 1.5s;
}

/* button action */
.action-btn {
  margin: 10px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-in-right 1.5s;
}
.action-btn button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  background-image: linear-gradient(150deg, #005059, #3491a8);
  font-size: 18px;
}

.action-btn-icon {
  margin-right: 6px;
}

/* table */
.css-1fw5qro-MuiPaper-root {
  box-shadow: 0 2px 15px rgb(0 0 0 / 25%) !important;
}

/* button print file */
.print_file-btn {
  animation: fade-in-left 1.5s;
}

.print_file-btn > button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  background-image: linear-gradient(150deg, #005059, #3491a8);
  font-size: 18px;
}

/* form add, update */
.form-container {
  border: 1px solid #ddd;
  background-color: #fff;
  padding-bottom: 30px;
  border: 0.2rem solid #005059;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  overflow: hidden;
  animation: zoom-out 0.8s;
}
.form-heading {
  display: flex;
  background-image: linear-gradient(120deg, #005059, #bfd6d2);
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  height: 90px;
}
.form-heading-title {
  background: -webkit-linear-gradient(120deg, #eee, #e07116);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-btn-exit {
  width: 40px;
  height: 40px;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-btn-exit:hover {
  background-color: rgb(255, 227, 209);
  transform: rotate(90deg);
  transition: 0.2s linear;
}
.form-body {
  display: flex;
  padding: 30px 0;
}
.form-heading-info {
  font-size: 15px;
  position: absolute;
  left: 0px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_img {
  display: block;
  text-align: center;
  margin-left: 50px;
}
.form-avatar {
  width: 130px;
  height: 130px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 770px;
}
.form-row {
  position: relative;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 40px;
  overflow: none !important;
}
.form-row > input {
  width: 65%;
  padding: 10px;
  border: 1px solid #4e5052;
  border-radius: 5px;
}
.form-error {
  position: absolute;
  left: 35%;
  top: -20px;
  font-weight: 500;
  color: #e74c3c;
  font-size: 14px;
  text-align: center;
}
.error {
  border: 1px solid red !important;
}
.form-select {
  width: 65%;

  padding: 10px;
  border: 1px solid #4e5052;
  border-radius: 5px;
}
.form-row > span {
  width: 35%;

  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}
.form-btn-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}
.form-btn-save {
  width: 100px;
  height: 40px;
  margin-right: 20px;
  border-radius: 5px;
  color: white;
  background-color: #fc8b2f;
}
.form-btn-save:hover {
  background-color: #fd501b;
}
.form-btn-cancel {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #a0a2a3;
}
.form-btn-cancel:hover {
  background-color: #777777;
}
.btn-pickImage {
  width: 120px;
  height: 30px;
  border: 1px solid #a19b9b;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

/* tab scroll Y */
.tab-scrollY {
  z-index: 2;
  position: absolute;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 100%;
  overflow-y: auto;
  overflow-x: none;
}
.tab-scrollY::-webkit-scrollbar {
  width: 6px;
}
.tab-scrollY::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}
.tab-scrollY::-webkit-scrollbar-track {
  border-color: var(--second-bg);
}
.tab-scrollY-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.tab-scrollY-item:hover {
  background: var(--second-color);
}

@media screen {
  .title-print {
    display: none;
  }
}
@media print {
  .hide-on-print {
    display: none;
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate(-25%, 0%);
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translate(25%, 0%);
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translate(0%, -25%);
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes zoom-out {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.pagination {
  font-size: 14px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pagination-left {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #e6e6e6;
  margin-right: 10px;
  font-size: 14px;
  color: #000;
  user-select: none;
}
.cell.active {
  background-color: #fd501b;
  color: white;

  font-weight: bold;
}
