.main-container {
  display: flex;
}
main {
  width: 100%;
}

.title {
  font-size: 3.6rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
  background: var(--main-color);
  color: white;
  height: 100vh;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 25px;
  background-image: linear-gradient(90deg, var(--second-bg), rgb(0, 195, 255));
  color: transparent;
  background-clip: text;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  margin-right: 5px;
}
.bars {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30px;
  cursor: pointer;
}
.icon-bars {
  font-size: 20px;
}
.icon-tab{
  font-size: 18px;
}
.hide {
  display: none;
}

.routes {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  justify-items: center;
  align-items: center;
  color: white;
  gap: 10px;
  padding: 15px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  color: var(--main-bg);
  border-right: 4px solid var(--main-color);
  /* background: var(--main-color); */
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.sidebar-active {
  border-right: 4px solid var(--add-color) !important;
  background: var(--second-bg) !important;
  color: var(--main-color) !important;
  border-top-left-radius: 25%;
}
.link_text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
}
.icon {
  font-size: 25px;
}
